* {
    box-sizing: border-box;
    border-radius: 50%;
    
}

.alvo {
    width: fit-content;
    margin: 50px auto;

    background-color: gray;
    padding: 50px;
}


.alvo > div{
    background-color: aqua;
    border-bottom: 1px solid black ;
    width: 200px;
    height: 200px;
    padding: 50px;
}

.alvo div div{
    width: 100px;
    height: 100px;
    background-color: red; 
    border-bottom: solid black;
    
}